<nav class="navbar navbar-expand-lg">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
            <strong><span>TA</span> Fashion</strong>
        </a>

        <div class="d-lg-none">
            <a href="sign-in.html" class="bi-person custom-icon me-3"></a>

            <a href="product-detail.html" class="bi-bag custom-icon"></a>
        </div>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link active" asp-controller="Home" asp-action="Index">Trang chủ</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="About" asp-action="Index">Về chúng tôi</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Products" asp-action="Index">Sản phẩm</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="FAQs" asp-action="Index">Giới thiệu</a>
                </li>

                
            </ul>

            <div class="d-none d-lg-block">
                <a asp-area="Customers" asp-controller="Login" asp-action="Index" class="bi-person custom-icon me-3"> </a>
   
            </div>
        </div>
    </div>
</nav>