

<body>

    <section class="preloader">
        <div class="spinner">
            <span class="sk-inner-circle"></span>
        </div>
    </section>

    <header class="site-header section-padding-img site-header-image">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12 header-info">
                    <h1>
                        <span class="d-block text-primary">Công ty</span>
                        <span class="d-block text-dark">Chúng tôi</span>
                    </h1>
                </div>
            </div>
        </div>

        <img src="~/Style/images/header/businesspeople-meeting-office-working.jpg" class="header-image img-fluid" alt="">
    </header>

    <section class="team section-padding">
        <div class="container">
            <div class="row">

                <div class="col-12">
                    <h2 class="mb-5">Đội ngũ của <span>chúng tôi</span></h2>
                </div>

                <div class="col-lg-4 mb-4 col-12">
                    <div class="team-thumb d-flex align-items-center">
                        <img src="~/Style/images/TA/gemini.png" class="img-fluid custom-circle-image team-image me-4" alt="">

                        <div class="team-info">
                            <h5 class="mb-0">Gemini</h5>
                            <strong class="text-muted">Nhân viên</strong>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mb-4 col-12">
                    <div class="team-thumb d-flex align-items-center">
                        <img src="~/Style/images/TA/tienanh.jpg" class="img-fluid custom-circle-image team-image me-4" alt="">

                        <div class="team-info">
                            <h5 class="mb-0">Bùi Tiến Anh</h5>
                            <strong class="text-muted">Chủ tịch</strong>

                            <!-- Button trigger modal -->
                            <button type="button" class="btn custom-modal-btn" data-bs-toggle="modal" data-bs-target="#kelly">
                                <i class="bi-plus-circle-fill"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mb-lg-0 mb-4 col-12">
                    <div class="team-thumb d-flex align-items-center">
                        <img src="~/Style/images/TA/logochatgpt.png" class="img-fluid custom-circle-image team-image me-4" alt="">

                        <div class="team-info">
                            <h5 class="mb-0">Chat GPT</h5>
                            <strong class="text-muted">Nhân viên</strong>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="testimonial section-padding">
        <div class="container">
            <div class="row">

                <div class="col-lg-9 mx-auto col-11">
                    <h2 class="text-center">Lời bày tỏ, <br> <span>TA</span> Fashion</h2>

                    <div class="slick-testimonial">
                        <div class="slick-testimonial-caption">
                            <p class="lead">Cuộc sống không phải là chờ đợi cơn bão qua đi, mà là học cách nhảy múa dưới mưa.</p>

                            <div class="slick-testimonial-client d-flex align-items-center mt-4">
                                <img src="~/Style/images/TA/tienanh.jpg" class="img-fluid custom-circle-image me-3" alt="">

                                <span>Tiến Anh, <strong class="text-muted">sinh viên</strong></span>
                            </div>
                        </div>

                        <div class="slick-testimonial-caption">
                            <p class="lead">Người duy nhất bạn nên cố gắng vượt qua là chính bản thân mình của ngày hôm qua.</p>

                            <div class="slick-testimonial-client d-flex align-items-center mt-4">
                                <img src="~/Style/images/TA/tienanh2.jpg" class="img-fluid custom-circle-image me-3" alt="">

                                <span>Tiến Anh, <strong class="text-muted">người tạo website</strong></span>
                            </div>
                        </div>

                        <div class="slick-testimonial-caption">
                            <p class="lead">Thành công là tập hợp của những cố gắng nhỏ được lặp lại mỗi ngày.</p>

                            <div class="slick-testimonial-client d-flex align-items-center mt-4">
                                <img src="~/Style/images/TA/tienanh.jpg" class="img-fluid custom-circle-image me-3" alt="">

                                <span>Tiến Anh, <strong class="text-muted">người thiết kế website</strong></span>
                            </div>
                        </div>

                        <div class="slick-testimonial-caption">
                            <p class="lead">Over three years in business, We’ve had the chance to work on a variety of projects, with companies Lorem ipsum dolor sit amet</p>

                            <div class="slick-testimonial-client d-flex align-items-center mt-4">
                                <img src="images/people/woman-wearing-mask-face-closeup-covid-19-green-background.jpeg" class="img-fluid custom-circle-image me-3" alt="">

                                <span>Catherine, <strong class="text-muted">Dress Fashion</strong></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- TEAM MEMBER MODAL -->
    <div class="modal fade" id="kelly" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content border-0">
                <div class="modal-header flex-column">
                    <h3 class="modal-title" id="exampleModalLabel">Bùi tiến Anh</h3>

                    <h6 class="text-muted">Sinh viên, Đại học Nguyễn Trãi</h6>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <h5 class="mb-4">Hơn ba năm ngồi ghế nhà trường , tôi có cơ hội làm việc với những thầy cô giáo nhiều kinh nghiệm</h5>

                    <div class="row mb-4">
                        <div class="col-lg-6 col-12">
                            <p>
                                Sinh ra và lớn lên ở Chiêm hóa, Tuyên Quang. Những năm qua tại Đại học Nguyên Trãi, tôi đã tích lũy được rất
                                nhiều kinh nghiệm và quen được nhiều mối quan hệ.
                            </p>
                        </div>

                        <div class="col-lg-6 col-12">
                            <p>Luôn phấn đấu và không bao giờ bỏ cuộc là động lực luôn ở trong tôi.</p>
                        </div>
                    </div>

                    <ul class="social-icon">
                        <li class="me-3"><strong>Where to find?</strong></li>

                        <li><a href="#" class="social-icon-link bi-facebook">https://www.facebook.com/buitienanh1312</a></li>

                        <li><a href="#" class="social-icon-link bi-instagram"></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

</body>
